
html, body {
  height:100%;
  margin:0;
  padding:0;
  }

  .welcome-text{
    font-family: 'Ma Shan Zheng', cursive;
    text-align: center;
    font-size: 36px;
  }

.menu{
  margin:0 auto;
  width:80%; 
}

.menu-category{
  margin-bottom: 20px;
}

.menu-item-description{
  font-size:14px;
}

.itemTag{
  /* width: 30px;
  height: 30px; */
  background-color: yellow;
  color: black;
}

.menu_img{
  margin:20px;
}

.footer-text{
  text-align:center;
}
