
html, body {
  height:100%;
  margin:0;
  padding:0;
  }

.carousel{
  max-width:100%;
  height:100vh;
}

.carousel-inner{
  max-width:100%;
  height:100%;
}

.carousel_image{
  width:100% !important;
  object-fit:contain;
}

